html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 300px;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slide-img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    margin-top: -25px;
}
.slide-text{
    width: 100%;
    position: absolute;
    bottom: 15px;
}
@media screen and (max-width: 1280px){
    .slide-text{
        bottom: 10px !important;
    }
}
@media screen and (max-width: 320px){
    .slide-text{
        bottom: 30px !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 700px){
    .slide-text{
        bottom: 15px !important;
    }
}